<div class="container">
  <canvas
    #demCanvas
    class="canvas"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    (click)="onCanvasClick($event)">
  ></canvas>

  <div
    *ngIf="hoverInfo.visible"
    class="hover-box"
    [style.left.px]="hoverInfo.x + 10"
    [style.top.px]="hoverInfo.y + 10"
  >
    <p>Lat: {{ hoverInfo.lat.toFixed(5) }}</p>
    <p>Lon: {{ hoverInfo.lon.toFixed(5) }}</p>
    <p>Elevation: {{ hoverInfo.elevation.toFixed(2) }} m</p>
  </div>
</div>