<div class="bg-white h-full flex flex-col gap-4 p-4">
  <input type="text" placeholder="Type command" class="input" />

  <div *ngIf="selectedPoint" class="text-sm mt-4">
    <h3 class="font-bold mb-2 text-black">Selected Point</h3>
    <p class="text-black">Lat: {{ selectedPoint.lat.toFixed(5) }}</p>
    <p class="text-black">Lon: {{ selectedPoint.lon.toFixed(5) }}</p>
    <p class="text-black">Elevation: {{ selectedPoint.elevation.toFixed(2) }} m</p>

    <div class="flex gap-2 mt-4">
      <button class="btn btn-primary btn-sm" (click)="confirmPoint()">Done</button>
      <button class="btn btn-secondary btn-sm" (click)="resetPoint()">Redo</button>
    </div>
  </div>
</div>