<div class="flex flex-row h-full">
  <div class="w-1/4">
    <app-sidebar
      [selectedPoint]="selectedPoint"
      [confirmedPoints]="confirmedPoints"
      (pointConfirmed)="onPointConfirmed($event)"
      (pointReset)="onPointReset()"
      (selectionModeChanged)="onSelectionModeChanged($event)">
    </app-sidebar>
  </div>

  <div class="flex flex-col flex-1 p-4 gap-4">
    <div class="flex-grow bg-zinc-600 text-white flex items-center justify-center rounded-md">
      <app-dem-display
        class="w-full h-full"
        [confirmedPoints]="confirmedPoints"
        [selectionMode]="selectionMode"
        (pointSelected)="onPointSelected($event)"
      ></app-dem-display>
    </div>
    <div class="h-20 flex items-center justify-center rounded-md"> 
      <app-timeline class="w-full"></app-timeline>
    </div>
  </div>
</div>

