<div class="main-container">
  <div class="sidebar-container">
    <app-sidebar
      [selectedPoint]="selectedPoint"
      [confirmedPoints]="confirmedPoints"
      (pointConfirmed)="onPointConfirmed($event)"
      (pointReset)="onPointReset()"
      (selectionModeChanged)="onSelectionModeChanged($event)"
      [definePathMode]="definePathMode"
      (definePathModeChanged)="onDefinePathModeChanged($event)"
      (pathsChanged)="onPathsChanged($event)"
      (confirmDetailsFinalized)="onConfirmDetailsFinalized($event)"
    ></app-sidebar>
  </div>

  <div class="content-container">
    <div class="dem-display-wrapper">
      <app-dem-display
        class="dem-display"
        [confirmedPoints]="confirmedPoints"
        [selectionMode]="selectionMode"
        (pointSelected)="onPointSelected($event)"
        [definePathMode]="definePathMode"
        (pathPointSelected)="onPathPointSelected($event)"
        [paths]="paths"
        [currentPath]="currentPath"
        [currentPathIndex]="currentPathIndex"
        [movingPoints]="movingPoints"
      ></app-dem-display>
    </div>
    <div class="timeline-wrapper">
      <app-timeline
        class="timeline"
        (positionsChanged)="onPositionsChanged($event)"
      ></app-timeline>
    </div>
  </div>
</div>


